@font-face {
	font-family: 'exo_2_regular';
	src: url('exo2-regular-webfont.eot');
	src: url('exo2-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('exo2-regular-webfont.woff') format('woff'),
	url('exo2-regular-webfont.ttf') format('truetype'),
	url('exo2-regular-webfont.svg#exo_2regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'exo_2_bold';
	src: url('exo2-bold-webfont.eot');
	src: url('exo2-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('exo2-bold-webfont.woff') format('woff'),
	url('exo2-bold-webfont.ttf') format('truetype'),
	url('exo2-bold-webfont.svg#exo_2bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'exo_2_light';
	src: url('exo2-light-webfont.eot');
	src: url('exo2-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('exo2-light-webfont.woff') format('woff'),
	url('exo2-light-webfont.ttf') format('truetype'),
	url('exo2-light-webfont.svg#exo_2light') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'exo_2_medium';
	src: url('exo2-medium-webfont.eot');
	src: url('exo2-medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('exo2-medium-webfont.woff') format('woff'),
	url('exo2-medium-webfont.ttf') format('truetype'),
	url('exo2-medium-webfont.svg#exo_2medium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'exo_2_thin';
	src: url('exo2-thin-webfont.eot');
	src: url('exo2-thin-webfont.eot?#iefix') format('embedded-opentype'),
	url('exo2-thin-webfont.woff') format('woff'),
	url('exo2-thin-webfont.ttf') format('truetype'),
	url('exo2-thin-webfont.svg#exo_2thin') format('svg');
	font-weight: normal;
	font-style: normal;

}


@font-face {
    font-family: 'als_rublregular';
    src: url('rouble-webfont.eot');
    src: url('rouble-webfont.eot?#iefix') format('embedded-opentype'),
         url('rouble-webfont.woff') format('woff'),
         url('rouble-webfont.ttf') format('truetype'),
         url('rouble-webfont.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;

}