/* Team box */
.mobile #team .foto img  { margin: 0; }

/* Contact box */
#contact-success { margin: -20px 0 15px 12px; display: none; }
#contact-errors { margin: 0 0 15px 12px; color: red; display: none; }
#valid-mail { color: red; margin: -30px 0 0 12px; display: none; }
.contact-required { margin-left: 12px; }

input.field-error, textarea.field-error { background-color: #ffd9d9 !important; }
button.disabled {  }
button.send-success { text-align: center; }
button.send-success img { padding-top: 3px; }
#secondary-nav .nav-content { position: relative; z-index: 100; }
#contact-loader { width: 1px; height: 100%; position: absolute; top: 0; left: 0; background-color: #1a7f67; display: none; }
.contact-btn { height: 54px; }