@media screen and (max-width: 768px) 	{
	.topNav.fix a.logo img { margin-top: 2px !important; }
	.topNav nav { display: none; }
	.topNav h3 { text-align: center !important; float: none !important; margin-right: 60px !important; }
	.topNavMob { display: block !important; }

	#secondary-nav { display: none !important; }

	.topNav.price { padding: 20px 39px; }
	.topNav.price div { float: none !important; margin-right: 60px !important; } 
	.topNav.price div h3 { float: none !important; margin-right: 0 !important; }
	.topNav.price div p { text-align: center; }

	.topNav.price.contacts p a { float: none !important; }
}

@media screen and (max-width: 899px) 	{
	.contacts-info { margin: 0 auto; float: none; text-align: center; }
	.sidebar { margin: 0 auto; float: none; }
	.sidebar h2 { text-align: center; }
	.middle-block-team { text-align: center; }

	.selection { max-width: 680px !important; }
	.selection h1 { font-size: 36px; }
	.bd { width: 690px; }
	ul.rate li { width: 200px; padding: 5px 12px; }
	ul.rate li .fotoimg-wrap { width: 202px !important; height: 202px !important; }
	ul.rate li h2 { font-size: 22px !important; }
	ul.rate li .fotoImg { width: 202px !important; height: 202px !important; margin-left: -3px !important; }
	ul.rate li:hover .fotoImg { width: 202px  !important; height: 202px !important; border-radius: 150px !important; border: 2px solid #00cc9c !important; }
	ul.rate li .fotoImg.left,
	ul.rate li .fotoImg.middle,
	ul.rate li .fotoImg.right,
	ul.rate li.active-list .fotoImg.left,
	ul.rate li.active-list .fotoImg.middle,
	ul.rate li.active-list .fotoImg.right { background: url("../img/sitesprites_S.png") no-repeat !important; }
	ul.rate li .fotoImg.left { background-position: -5px -5px !important; }
	ul.rate li .fotoImg.middle { background-position: -211px -5px !important; }
	ul.rate li .fotoImg.right { background-position: -417px -5px !important; }
	ul.rate li.active-list .fotoImg.left { background-position: -5px -211px !important; }
	ul.rate li.active-list .fotoImg.middle { background-position: -211px -211px !important; }
	ul.rate li.active-list .fotoImg.right { background-position: -417px -211px !important; }
	ul.rate li .fotoImg:after { top: 50px !important; left: 50px !important; }
	.details-info .detail { width: 204px; }
	.details-info .detail i { font-size: 15px !important; }
	.zakaz > div { width: 225px !important; }
	.zakaz > div > button { width: 205px !important; height: 44px !important; font-size: 16px !important; }
	.footer .media { max-width: 230px; font-size: 14px; }
	.footer	.location { max-width: 235px !important; font-size: 14px !important; margin-bottom: 20px !important; margin-top: -35px; }
	.footer .contacts { font-size: 14px; }

	#tab1 .triangle { left: 100px; }
	#tab2 .triangle { left: 323px; }
	#tab3 .triangle { left: 550px; }

	.wrapper.price.contacts .location { width: 60%; margin: 0 auto; }
}

@media screen and (min-width: 769px) 	{
	div#menu.active { display: none !important; }
}

@media screen and (max-width: 800px) 	{
	.contacts-info { margin: 0 auto; float: none !important; text-align: center; }
	.sidebar { margin: 0 auto; float: none !important; }
}

@media screen and (max-width: 1000px) 	{
	.panel { display: none; }
	.middle-block-contacts { margin-top: 50px; }
}