html, body {
	height: 100%;
	min-width: 768px;
}
body { 
	font-family: 'exo_2_regular';
	font-weight: 100;
	background: #fff; 
	color: #222; 
	-webkit-transition-property: font-size;
	-moz-transition-property: font-size;
	transition-property: font-size;
	-webkit-transition-duration: 0.5s, 0.5s;
	-moz-transition-duration: 0.5s, 0.5s;
	transition-duration: 0.5s, 0.5s;
	-webkit-transition-timing function: linear, ease-in;
	-moz-transition-timing function: linear, ease-in;
	transition-timing function: linear, ease-in;
}

body.mobile .panel 								{ display: none; }
body.mobile .topNav.fix 						{ display: none; }
body.mobile.ipad  input[type="text"], textarea 	{ -webkit-appearance: none; }
body.mobile.ipad ul.rate li:hover .fotoImg		{ border: 2px solid #fff !important; }
body.mobile.android .middle-block-team ul 		{ text-align: center; }
body.main.mobile.ipad .topNavMob				{ display: block; }

		h1, h2 { 
			word-wrap: break-word;
			font-family: 'exo_2_thin';
			-webkit-transition-property: font-size;
			-moz-transition-property: font-size;
			transition-property: font-size;
			-webkit-transition-duration: 0.5s, 0.5s;
			-moz-transition-duration: 0.5s, 0.5s;
			transition-duration: 0.5s, 0.5s; 
			-webkit-transition-timing function: linear, ease-in;
			-moz-transition-timing function: linear, ease-in; 
			transition-timing function: linear, ease-in;  
		}
		h1, h2, h3, h4 { font-weight: normal; }
		h1 { font-size: 48px; }
		h2 { font-size: 30px; }
		h3 { font-size: 16px; }
		h4 { padding: 3px; margin: 5px 0 0 0; }
		h4 a { text-decoration: underline; }
		h4 a:hover {  }
		button {
			font-family: 'exo_2_medium';
			font-weight: normal;
			color: #333;
			background-color: #00cc9c;
			cursor: pointer;
			border-radius: 3px;
			text-align: center;
		}
			button:hover {
				color: #fff;
			}
				button:active {
					color: #fff;
					background-color: #333;
				}
		input::-webkit-input-placeholder,
		textarea::-webkit-input-placeholder { font-family: 'exo_2_regular'; font-weight: normal; } 
		input::-moz-placeholder,
		textarea::-moz-placeholder { font-family: 'exo_2_regular'; font-weight: normal; }


		input[type="checkbox"] {
				display: none;
			}
			input[type="checkbox"] + label {
				cursor: pointer;
				vertical-align: top;
				text-indent: 20px;
				margin-left: -20px;
			}
				input[type="checkbox"] + label::before {
					content: "";
					display: inline-block;
					height: 16px;
					width: 15px;
					background: url("/assets/img/c_sprite.png") no-repeat;
					margin-right: 4px;
				}
				input[type="checkbox"] + label::before {
					background-position: 0 0;
				}
					input[type="checkbox"]:checked + label::before {
						background-position: -15px 0;
					}
				.allChecked + label::before {
					background-position: -30px 0 !important;
				}


		.topNav {
			width: 100%;
			z-index: 9;
			padding: 20px 40px;
			position: absolute;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
			.topNav a img {
				float: left;
				width: 78px;
				height: 87px;
				margin-top: 20px;
			}
			.topNav h3 {
				/*float: right;*/
				text-align: right;
				margin-top: 18px;
				color: #fff;
			}
				.topNav h3 a {
					color: #fff;
					text-decoration: none;
					cursor: text;
				}

		.topNav nav {
			width: 350px;
			position: absolute;
			left: 50%;
			margin-left: -142px;
			margin-top: 15px;
		}
			.topNav nav a { 
				color: #00cc9c;
				display: inline-block;
				float: left;
				text-decoration: none;
				margin: 0 20px;
				font-weight: 100;
			}
				.topNav nav a:visited {  }
				.topNav nav a:hover { color: #fff; }
				.topNav nav a.active { 
					color: #fff;
					border-bottom: 3px solid #00cc9c;
					padding-bottom: 11px;
		 		}

		.topNav.fix {
			height: 52px;
			background: rgba(51,51,51,.9);
			padding: 0 40px;
			position: fixed;
			top: 0;
			left: 0;
		}
			.topNav.fix nav {
				margin-top: 0;
			}
			.topNav.fix a.logo {
				font-family: 'exo_2_bold';
				font-size: 18px;
				color: #fff;
				text-decoration: none;
				float: left;
			}
				.topNav.fix a.logo img {
					width: 78px;
					height: 12px;
					margin-top: 5px;
				}

		.topNavMob {
			float: right;
			top: 35px;
			right: 39px;
			display: none;
			position: fixed;
			z-index: 9999;
		}
			.topNavMob span {
				width: 24px;
				height: 20px;
				display: block;
				cursor: pointer;
				border-bottom: 10px double #00cc9c; 
			    border-top: 3px solid #00cc9c; 
			    content:"";
			    height: 4px; 
			    width:24px;
			}
				.topNavMob span.active {
					width: 24px;
					height: 20px;
					display: block;
					cursor: pointer;
					border-bottom: 10px double #fff; 
				    border-top: 3px solid #fff; 
				    content:"";
				    height: 4px; 
				    width:24px;
				}

		div#menu {
			position: fixed;
			width: 100%;
			text-align: center;
			background-color: #333;
			padding: 50px 0;
			z-index: 999;

			display: none;
		}
			div#menu.active {
				display: block;
			}
			div#menu li a {
				color: #00cc9c;
				text-decoration: none;
				line-height: 40px;
			}
				div#menu li a.active {
					color: #fff;
					border-bottom: 3px solid #00cc9c;
					padding-bottom: 5px;
				}

	section { 
		width: 100%;
		min-height: 100%;
		overflow: hidden;
	}


		#preview {
			background: #000 url("../img/bg_section_1.jpg") no-repeat center center;
			height: 100%;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-ms-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			position: relative;
		}
			#preview .middle-block {
				max-width: 670px;
				text-align: center;
				margin: 0 auto;
			}
			#preview h1, h2 {
				color: #fff;
			}
				button#count {
					font-size: 22px;
					margin: 7% 0;
				}
			a.move {
				text-align: center;
				position: absolute;
				bottom: 45px;
				left: 50%;
				margin-left: -32px;
			}
				a.move img {
					width: 64px;
					height: 95px;
				}



		#portfolio { 
			background: #000 url("../img/bg_section_2.jpg") no-repeat center center;
			height: 100%;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-ms-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			position: relative;
		}
			.middle-block-portfolio {
				max-width: 650px;
				margin: 0 auto;
				text-align: center;
			}

			#portfolio .description {
				width: 100%;
				position: absolute;
				bottom: 30px; right: 0; left: 0;
			}
				#portfolio .description span {
					max-width: 960px;
					display: block;
					margin: 0 auto;
				}
				button#show_more,
				button#booking {
					padding: 10px 0;
					width: 224px;
					font-size: 16px;
				}
				#portfolio .description i {
					font-family: 'exo_2_light';
					font-size: 24px;
					color: #333232;
					float: left;
					padding-right: 3%;
				}
				#portfolio .description p {
					font-size: 16px;
					color: #fff;
					text-align: center;
				}
				#portfolio .link {
					margin-top: 10px;
				}
					#portfolio .link h1 {
						color: #fff;
					}
					#portfolio .link a {
						font-family: 'exo_2_light';
						font-size: 30px;
						text-decoration: none;
						color: #00cc9c;
						cursor: pointer;
					}


		#disposal {  
			background-color: #ebf2f1;
		}
			.middle-block-disposal  {
				max-width: 785px;
				margin: 30px auto 0 auto;
				text-align: center;
				position: static !important;
			}
				#disposal h1,
				#disposal li h2 {  
					color: #333;
				}
				#disposal li h2 {  
					font-family: 'exo_2_light';
					font-style: italic;
					margin-bottom: 10px;
					text-align: left;
				}
				#disposal li h3 {  
					color: #808080;
					text-align: left;
				}
				#disposal li img {  
					float: left;
					clear: both;
					margin-top: 7px;
				}
				#disposal li div {  
					margin-left: 135px;
				}
				#disposal li {  
					margin: 70px 0;
				}
					#disposal li:first-child {  
						margin: 15px 0;
					}


		#team {
			background-color: #fff;
		}
			.middle-block-team {
				max-width: 896px;
				margin: 30px auto;
				position: static !important;
			}
				#team h1, h3 {  
					text-align: center;
				}
				#team h3 {  
					color: #808080;
				}

				.middle-block-team li {
					width: 220px;
					display: inline-block;
					vertical-align: top;
					text-align: center;
					margin-top: 50px;
				}
					.middle-block-team .foto {
						max-width: 220px;
						height: auto;
						overflow: hidden;
						vertical-align: middle;
						text-align: center;
					}
						.middle-block-team .foto img {
							width: 126px;
							height: 126px;
						}

					.middle-block-team .title h2 {
						color: #333;
						font-family: 'exo_2_light';
						font-style: italic;
					}


		#contacts {
			background-color: #00cc9c;
			position: relative;
		}
			.middle-block-contacts {
				max-width: 900px;
				margin: 50px auto;
				position: static !important;
			}
			.sidebar { 
				max-width: 420px;
				width: 100%;
				float: right;
				margin-bottom: 10px;
				-webkit-transition-property: width;
				-moz-transition-property: width;
				transition-property: width;
				-webkit-transition-duration: 0.5s, 0.5s;
				-moz-transition-duration: 0.5s, 0.5s;
				transition-duration: 0.5s, 0.5s;
				-webkit-transition-timing function : linear, ease-in;
				-moz-transition-timing function : linear, ease-in;
				transition-timing function : linear, ease-in;
			}
				.sidebar h2 {
					font-style: italic;
					font-family: 'exo_2_light';
					margin-bottom: 22px;
				}
				.form_input {
					width: 100%;
					display: inline-block;
					position: relative;
				}
					.inpt {
						width: 100%;
					}

					input[type="text"], 
					textarea {
						width: 100%;
						height: 36px;
						padding: 10px;
						border: 1px solid #333;
						border-top-left-radius:5px;
						border-top-right-radius:5px;
						border-bottom-left-radius:5px;
						border-bottom-right-radius:5px;
						font-family: 'exo_2_regular';
						font-size: 14px;
						color: #444;
						background-color: #fff;
						margin-bottom: 5%;
						-moz-box-sizing: border-box;
						box-sizing: border-box;
					}
					textarea {
						resize: none;
						min-height: 115px;
					}
			.contacts-info {
				max-width: 350px;
				width: 100%;
				float: left;
			}
				.contacts-info li {
					margin-bottom: 70px;
				}
					.contacts-info li a {
						margin-right: 10px;
					}
					.contacts-info h2 {
						font-style: italic;
						font-family: 'exo_2_light';
						margin-bottom: 22px;
					}
						.contacts-info div span {
							color: #fff;
						}
							.contacts-info div span a {
								color: #fff;
								text-decoration: none;
								cursor: text;
							}
						.contacts-info div p a {
							color: #333;
							text-decoration: none;
						}
			.form_input p.contact-required.txt {
				color: #fff;
				margin: -15px 0 10px 0;
			}

			button#send {
				width: 100%;
				background-color: #333;
				color: #fff;
				padding: 13px 0;
				font-size: 22px;
			}
				button#send:hover {
					color: #00cc9c;
				}
					button#send:active {
						color: #00cc9c;
						background-color: #1a1a1a;
					}	

				.copyright {
					width: 100%;
					position: absolute;
					bottom: 30px;
				}
					.copyright p {
						text-align: center;
						color: #fff;
					}		
/* ------------------------------ */

.panel {
	position: fixed;
	z-index: 999;
	right: 20px;
	top: 40%;
}
.panel li {
	display: block;
	width: 10px;
	height: 10px;
	margin: 12px;
	}
	.panel li a span {
		opacity: 0;
	}
		.panel li a span:hover {
			opacity: 1;
			font-size: 14px;
			color: #fff;
			background-color: #00cc9c;
			border-radius: 10px;
			padding: 2px 25px 1px 10px;
			float: right;
		}

.panel li a .hover-text {
	position: absolute;
	top: -8px;
	right: -2px;
	padding-right: 20px;
	opacity: 0;
	text-align: right;
	color: #fff;
}

		.panel li a {
			display: block;
			position: relative;
			z-index: 1;
			width: 100%;
			height: 100%;
			cursor: pointer;
			text-decoration: none;
		}
			.panel li a:before {
				content: '';
				position: absolute;
				right: 5px;
				width: 4px;
				height: 4px;
				background: rgba(153, 153, 153, 1);
				border-radius: 10px;
				z-index: 100;
			}
			.panel li a.active:before {
				width: 12px;
				height: 12px;
				background: #fff;
				border: 1px solid rgba(153, 153, 153, 1);
				right: 0;
				top: -5px;
			}


/* Nav */
#secondary-nav { display: none; }

.desktop #team .foto { height: 126px; vertical-align: center; line-height: 126px; }
.desktop #team .foto img { margin: 53px auto 0 auto; }
.desktop #team li .title { overflow: hidden; }
.desktop #team li .title div { position: relative; top: 0; }

.anim-disp img { position: relative; width: 100px; height: 100px; }
.anim-disp div { position: relative; }



/* Price */

	.wrapper.price {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -130px;
	}
		.topNav.price { padding: 20px 40px; }
		.topNav.price nav a:hover,
		.topNav.price nav a.active { color: #333; }
		.topNav.price h3 { color: #333 !important; }

		.topNav.price div { float: right; color: #808080; }

	.selection {
		max-width: 900px;
		margin: 0 auto;
		background: #fff;
		padding-top: 150px;
	}
		.selection h1 { text-align: center; }

			.selection ul.rate {
				margin-top: 40px;
			}
				ul.rate li {
					max-width: 280px;
					float: left;
					display: inline-block;
					padding: 5px 10px;
					cursor: pointer;
					position: relative;
				}
					ul.rate li:hover .fotoImg {
						width: 262px;
						height: 262px;
						border-radius: 150px;
						border: 2px solid #00cc9c;
					}
						ul.rate li.active:hover .fotoImg {
							border: 2px solid #fff;
						}
					ul.rate li h2 {
						color: #00cc9c;
						text-align: center;
						font-size: 24px;
						font-family: 'exo_2_light';
						margin-bottom: 5px;
					}
					ul.rate li.active h2 { color: #333; }
					ul.rate li.active-list h2 { color: #333; }
					ul.rate li h3 {
						color: #808080;
					}
					ul.rate li .fotoImg {
						max-width: 280px;
						height: auto;
						overflow: hidden;
						text-align: center;
						margin-bottom: 27px;
						position: absolute;
						top: 0;
						border-radius: 150px;
						border: 2px solid #fff;
						width: 262px;
						height: 262px;
						margin-left: 7px;
					}

						ul.rate li .fotoImg.left,
						ul.rate li .fotoImg.middle,
						ul.rate li .fotoImg.right,
							ul.rate li.active .fotoImg.left,
							ul.rate li.active .fotoImg.middle,
							ul.rate li.active .fotoImg.right { background: url("../img/sitesprites.png") no-repeat; }

						ul.rate li .fotoImg.left 	{ background-position: -5px -5px; 	}
						ul.rate li .fotoImg.middle 	{ background-position: -271px -5px; }
						ul.rate li .fotoImg.right 	{ background-position: -537px -5px; }
						
							ul.rate li.active .fotoImg.left 	{ background-position: -5px -271px;   }
							ul.rate li.active .fotoImg.middle 	{ background-position: -271px -271px; }
							ul.rate li.active .fotoImg.right 	{ background-position: -537px -271px; }
						
						
						ul.rate li .fotoImg:after {
							content: "";
							display: block;
							background: url("../img/_shop.svg") no-repeat;
							width: 102px;
							height: 100px;
							position: absolute;
							top: 80px;
							left: 80px;
						}
							ul.rate li .fotoImg.middle:after {
								background: url("../img/_corp.svg") no-repeat;
							}
							ul.rate li .fotoImg.right:after {
								background: url("../img/_start.svg") no-repeat;
							}
						ul.rate li .fotoImg img {
							width: 260px;
							height: 260px;
							padding: 1px;
						}

						ul.rate li .fotoimg-wrap { width: 262px; height: 262px; margin-bottom: 27px; position: relative; }
						ul.rate li .fotoImg.active-img { display: none; position: absolute; top: 0; }
						ul.rate li .fotoImg.active-img.left { background-position: -5px -271px; }
						ul.rate li .fotoImg.active-img.middle { background-position: -271px -271px; }
						ul.rate li .fotoImg.active-img.right { background-position: -537px -271px; }

						ul.rate li:hover .fotoImg.active-img { border: 2px solid #fff !important; }

			.info {
				background-color: #ebf2f1;
				width: 100%;
				margin-top: 30px;
			}

			.bd {
				max-width: 900px;
				margin: 0 auto;
				position: relative;
			}

				.triangle {
				    width: 0;
					height: 0;
					border-left: 12px solid transparent;
					border-right: 12px solid transparent;
					border-bottom: 12px solid #ebf2f1;
					position: absolute;
					top: -10px;
					left: 140px;
				}
					#tab2 .triangle {
						left: 440px;
					}
					#tab3 .triangle {
						left: 740px;
					}

				.details-info {
					display: none;
				}
					.details-info h2 {
						color: #333;
						text-align: center;
						font-size: 24px;
						font-family: 'exo_2_bold';
						margin-bottom: 3px;
					}
						.details-info h3 {
							font-size: 18px;
							text-align: left;
							margin-bottom: 5px;
							margin-left: 20px;
						}

					.details-info .detail {
						float: left;
						padding: 35px 12px 20px 12px;
						max-width: 276px;
					}
						div.stars { width: 100%; }
						span.star {
							background: url("../img/star.svg") repeat 0 0;
							display: block;
							margin-bottom: 10px;
							margin: 0 auto;
						}
						span.star.s-3 {
							width: 74px;
							height: 18px;
						}
						span.star.s-4 {
							width: 100px;
							height: 18px;
						}
						span.star.s-5 {
							width: 127px;
							height: 18px;
						}

							.details-info .detail .stars {
								padding: 15px 0; 
							}
								.details-info .detail p {
									font-size: 14px;
									color: #b2b2b2;
									margin-bottom: 20px;
								}
								.details-info .detail i {
									font-size: 20px;
									color: #333;
									font-family: 'exo_2_medium';
									font-style: normal;
									text-align: center;
									display: block;
								}
									.details-info .detail .result h3 {
										margin-left: 0;
									}
									.details-info .detail i span,
									.details-info .detail .result h3 span {
										display: inline-block;
										font-family: 'als_rublregular';
									}
								.details-info .detail .list {
									border-top: 1px solid #00cc9c;
									border-bottom: 1px solid #00cc9c;
									padding-top: 15px;
								}
									.details-info .detail ul {
										list-style: disc;
										font-size: 14px;
										color: #808080;
										margin-left: 16px;
										margin-bottom: 15px;
										line-height: 20px;
									}
										.details-info .detail ul._add {
											list-style: none;
											margin-left: 0;
										}
										.details-info .detail ul._add li {
											margin-left: 20px;
										}
											.detail ul._add li label a,
											.detail ul li a {
												color: #00cc9c;
											}

								.details-info .detail .result {
									margin-top: 15px;
								}

					button {
						width: 280px;
						height: 52px;
						font-size: 20px;
					}
						button.color {
							border: 1px solid #00cc9c;
						}
							button.color:active {
								color: #fff;
								background-color: #00cc9c;
							}
							button.color.active {
								color: #fff;
							}

						button.trans {
							background-color: transparent;
							border: 1px solid #333;
							color: #333;
						}
							button.trans:hover,
							button.trans.active {
								background-color: transparent;
								border: 1px solid #00cc9c;
								color: #00cc9c;
							}
						.zakaz {
							width: 100%;
							padding-bottom: 40px;
							display: inline-block;
						}
							.zakaz > div {
								display: inline-block;
								float: left;
								width: 300px;
								text-align: center;
							}

	.footer, .push {
		height: 130px;
	}
		.footer {
			width: 100%;
			padding: 30px 40px;
			color: #333;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
			.footer .media {
				float: left;
				max-width: 410px;
				display: inline-block;
			}
				.media a {
					margin-right: 5px;
				}

			.footer .contacts {
				max-width: 280px;
				margin: 0 auto;
				text-align: center;
			}
				.contacts p a {
					color: #333;
					text-decoration: none;
				}
				.contacts a {
					color: #00cc9c;
					text-decoration: none;
				}

			.footer	.location {
				float: right;
				max-width: 360px;
				display: inline-block;
				margin-top: -40px;
			}
				.location p {
					margin-left: 20px;
					z-index: 20;
					position: relative;
				}
				.location p a {
					color: #00cc9c;
					text-decoration: none;
				}

		.footer.iphone { display: none; }


/* Contacts */

.wrapper.price.contacts ._map {
	position: absolute;
	width: 100%;
	height: 100%;
}
	.topNav.price.contacts p a {
		color: #00cc9c;
		text-decoration: none;
		float: right;
	}
	.contacts-contact {
		text-align: center;
		padding-top: 100px;
		background-color: rgba(254,254,253,.9);
		padding-bottom: 25px;
		position: absolute;
		width: 100%;
	}
		.contacts-contact .media {
			margin-top: 25px;
		}
		.contacts-contact .media p {
			margin-bottom: 25px;
		}


/* MODAL WINDOW */

.modalBg {
	position: fixed;
	display: none;
    z-index: 90;
    left: 0; top: 0; bottom: 0; right: 0;
	background: rgba(51,51,51,.8);
}
.modalWin {
	width: 500px;
	background: #fff;
	z-index: 100;
	padding: 45px;
	text-align: center;

	display: none;
}
	.modalWin i {
		font-size: 24px;
		font-style: normal;
		font-family: 'exo_2_light';
		color: #333;
	}
	.modalWin p {
		text-align: left;
		color: #808080;
	}
	.modalWin span.star {
		text-align: center;
		display: inline-block;
		margin: 30px 0;
	}
	.modalWin button#send.contact-btn {
		background-color: #00cc9c;
		font-size: 20px;
		color: #333;
		margin-bottom: 35px;
	}
		.modalWin button#send.contact-btn:hover {
			color: #fff;
		}


#modal-request {
	padding: 100px 0;
	background: none;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
}
#modal-request .request-wrap {
	padding: 45px;
	background: #fff;

	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-179deg); /* setting to 180 causes an unnatural-looking half-flip */
	transform: rotateY(-179deg);

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;

	/* -- transition is the magic sauce for animation -- */
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
#modal-request.flipped .request-wrap {
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
	transform: rotateX(0deg) rotateY(0deg);
}

.total-price { font-family: 'exo_2_regular' !important; }
#details-wrap { width: 5000px; position: relative; overflow: hidden; display: none; }
#details-wrap .details-info { max-width: 900px; display: block; float: left; margin-right: 150px; }
#details-wrap.opened {  }
.bd-wrap { max-width: 900px; overflow-x: hidden; }
#triangle { display: none; }

/* Error page */
.error-page { background: #333333; }
.error-page .selection { background: none; }
.error-page .topNav.price h3 { color: #fff !important; }
.error-page .topNav.price a { color: #00cc9c; text-decoration: none; }
.error-page .topNav.price a:hover { color: #fff; }
.error-page .topNav.price .top-phone p { text-align: right; }

.error-body h1 { color: #00cc9c; font-size: 250px; position: absolute; top: 50%; left: 50%; margin: -170px 0 0 -210px; }